
.axax{
    margin-top: 9%;
  background-color: #9e4c79;
  height: 35vh;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  width: 108%;
  gap:20%;
}
.displayingxx{
    margin-top: 1%;
    display: flex;
    flex-direction: column;

}
.bvbv{
    background-color: white;
    border-color:white;
    margin-left: 40%;
    width: 20%;
    border-radius: 1rem;
   padding-top: -30%;
}
#message{
    margin-top: 4%;
}
#email{
    padding-top: 4%;
    width: 20vw;
    height: 4vh;
}
.fcfc{
    text-align: center;

    font-size: 5rem;
    font-style: italic;
    font-weight: 200;
    margin-left: 12%;
}