.formxx{
  height: 50vh;
  width: 25vw;
  margin-left: 45%;

}
.signUpContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 150%;
  height: 90%;
background-color: black;
opacity: 0.8;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.image {
  width: 200px;
  height: auto;
}

.rightSection {
  width: 400px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  color: hsl(317, 63%, 32%);;
}

h3 {
  font-size: 2.5rem;
  margin-left:70%;
  margin-bottom: -15%;
  text-align: left;
  margin-top: 16%;
  color: hsl(317, 63%, 32%);
  padding-left: 20%;
  width: 40%;
 
  
}

.fo-fo{
  width: 20vw;
  margin-left: 5%;
 
}
form {
  justify-content: center;
  display: flex;
  flex-direction: column;
 
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: aliceblue;
  margin-right: 280px;
  margin-left: 5%;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit {
  padding: 8px 16px;
  background-color:#21081a;;
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  width: 8vw;
  margin-left: 34%;
}

.submit:hover {
  background-color: #21081a9d;
}
.imageSignIn{
  height: 80vh;
  width: 40vw;
  margin-top: 90px;
  border-radius: 15px;
  opacity: 0.6;
}

.emptyField {
  border: 3px solid red;
}