.image-container-events {
    background-color: rgba(0, 0, 0, 0.795);
    margin-right: 15vw;
   
    
  
  }
  
  .line1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Ajout de flex-wrap pour gérer les sauts de ligne */
    margin-left: -22vw;
    
  }
  
  .imgc {
    position: relative; /* Ajout de position relative pour contenir les éléments enfants */
   
  }
  
  .img1 {
    height:45vh;
    width: 24vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
    border-radius: 2vh;
  }
  
  .img1:hover {
    opacity: 0.6;
  }
  .htht{
    height: 0.3rem;
    width: 50%;
    background-color:#533a71 ;
    border: #533a71;

}
  
  .readMore {
    border-radius: 1vh;
    width: 9vw;
    height: 7.3vh;
    background-color: #9e4c79;
    border: none;
    cursor: pointer;
    color: aliceblue;
    font-weight: bold;
    font-size: 2.2vh;
    margin-top: -1vh;
    margin-left: 30%;
    margin-bottom: 5vh;
  }
  
  .readMore.active {
    background-color: #642e58;
    color: #180614;
  }
  
  .readMoreContainer {
    height: 50vh;
    width:43.1vh;
    background-color: rgba(100, 46, 88, 0.795);
    color: #180614;
    position: absolute; /* Utilisation de position absolue pour superposer le conteneur */
 /* Ajustement de la valeur top pour aligner avec l'image */
    margin-top: -50%;
    right: 10%;
    z-index: 7;
    bottom: 0.1vh;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    border-radius: 1vh;
    font-size: 2.5vh;
    font-weight: bold;
  }
  
  .readMoreContainer p {
    padding: 1vw;
    margin: 0;
  }
  
  .readMore.active + .readMoreContainer {
    visibility: visible;
    opacity: 1;
  }
  
  .rm {
    margin-bottom: 7vh;
  }
  
  .eventName {
    margin-bottom: 2.5vh;
    color: #d645ca;
    font-size:1.2rem;
    font-weight: 600;
    margin-left: 2vw;
    
  }
  
  .titleOurEvents{
    font-size: 7vh;
   text-align: center;
    padding-top: 2vh;
  }