.image-container-events {
    background-color: rgba(0, 0, 0, 0.795);
  }
  
  .line1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Ajout de flex-wrap pour gérer les sauts de ligne */
  }
  
  .imgc {
    position: relative; /* Ajout de position relative pour contenir les éléments enfants */
  }
  
  .img1 {
    height:50vh;
    width: 410px;
    margin-right: 30px;
    margin-bottom: 5px;
    margin-top: 30px;
    border-radius: 8px;
  }
  
  .img1:hover {
    opacity: 0.6;
  }
  .htht{
    height: 0.3rem;
    width: 50%;
    background-color:#533a71 ;
    border: #533a71;

}
  
  .readMore {
    border-radius: 5px;
    width: 150px;
    height: 50px;
    background-color: #9e4c79;
    border: none;
    cursor: pointer;
    color: aliceblue;
    font-weight: bold;
    font-weight:bold;
    margin-top: -2px;
    margin-left: 30%;
    margin-bottom: 15px;
  }
  
  .readMore.active {
    background-color: #642e58;
    color: #180614;
  }
  
  .readMoreContainer {
    height: 50vh;
    width:43.1vh;
    background-color: rgba(100, 46, 88, 0.795);
    color: #180614;
    position: absolute; /* Utilisation de position absolue pour superposer le conteneur */
 /* Ajustement de la valeur top pour aligner avec l'image */
    margin-top: -50%;
    right: 7%;
    z-index: 7;
    bottom: 0.1vh;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .readMoreContainer p {
    padding: 10px;
    margin: 0;
  }
  
  .readMore.active + .readMoreContainer {
    visibility: visible;
    opacity: 1;
  }
  
  .rm {
    margin-bottom: 60px;
  }
  
  .eventName {
    margin-bottom: 10px;
    color: #d645ca;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10%;
    font-size: 1.4rem;
  }
  
  .titleOurEvents{
    font-size: 40px;
   text-align: center;
    padding-top: 20px;
  }